<table>
    <thead>
        <th>합</th>
        <th>곱</th>
        <th>차</th>
        <th>나누기</th>
    </thead>
    <tbody>
        <td><%= @sum %></td>
        <td><%= @mul %></td>
        <td><%= @min %></td>
        <td><%= @div %></td>
    </tbody>
</table>